
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>BOOK shmovid-19</title>
  <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous"
  />
  <link
          href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css"
          rel="stylesheet"
  />
</head>


<body class="bg-yellow-100 font-sans leading-normal tracking-normal">
<nav id="header" th:replace="fragments/admin_fragments/admin_nav_users :: users"></nav>


<div class="container w-full mx-auto pt-20">
  <div
          class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal"
  >
    <div class="bg-white border rounded shadow">
      <div class="ml-10 mb-5 p-5">



        <form th:action="@{/create_user}" th:method="POST">
          <input type="text" th:name="email" placeholder="Email" />
          <br />
          <input type="password" th:name="password" placeholder="Password" />
          <br />
          <input type="text" th:name="firstName" placeholder="First name" />
          <br />
          <input type="text" th:name="lastName" placeholder="Last name" />
          <br />
          <input type="date" th:name="dateOfBirth" />
          <br />
          <input type="text" th:name="phoneNumber" placeholder="Phone number" />
          <br />
          <input type="text" th:name="streetName" placeholder="Street name" />
          <br />
          <input type="text" th:name="homeNumber" placeholder="Home number" />
          <br />
          <input type="text" th:name="district" placeholder="District" />
          <br />
          <input type="submit" />
        </form>


        <form action="/admin/all_users" method="get" >
          <input id="txtSearch" type="text" placeholder="user name or last name" onkeyup="userSearch()">
          <!-- <button onclick="userSearch()" type="button">search</button> -->
        </form>




        <table id="usersTable" class="table-auto" >
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>DoB</th>
            <th>Phone nr</th>
            <th>Street</th>
            <th>House nr</th>
            <th>District</th>
            <th>Email</th>
            <th>Password</th>
            <th></th>
          </tr>


          <form th:each = "user : ${usersProfileInfo}" action="/update_user_info" method="post">
            <tr>
              <td>
                <input style="width:35px" name="userId" th:value="${user.userId}"/>
              </td>
              <td>
                <input  id="name" type="text" name="firstName"  th:value="${user.firstName}">
              </td>
              <td>
                <input id="lastName" type="text" name= "lastName" th:value="${user.lastName}">
              </td>
              <td>
                <input type="text" name="dateOfBirth" th:value="${user.dateOfBirth}">

              </td>
              <td>
                <input type="text" name="phoneNumber"  th:value="${user.phoneNumber != null} ? ${user.phoneNumber} : 'n/a'">
              </td>
              <td>
                <input type="text" name="streetName"  th:value="${user.streetName != null} ? ${user.streetName} : 'n/a'">
              </td>
              <td>
                <input type="text" name="homeNumber"  th:value="${user.homeNumber != null} ? ${user.homeNumber} : 'n/a'">
              </td>
              <td >
                <input type="text" name="userDistrict" th:value="${user.userDistrict != null} ? ${user.userDistrict} : 'n/a'">
              </td>
              <td>
                <input type="text" name= "userEmail" th:value="${user.userEmail != null} ? ${user.userEmail} : 'n/a'">
              </td>
              <td>
                <input type="text" name= "userPassword"  th:value="${user.userPassword != null} ? ${user.userPassword} : 'n/a'">
              </td>
              <td >
                <input type="submit" name="delete" value="Delete">
                <!-- <input th:unless="${user.phoneNumber == null or user.userEmail == null}" type="submit" name="update" value="Update"> -->
                <input  type="submit" name="update" value="Update">

              </td>
            </tr>
          </form>
        </table>

      </div>
    </div>

  </div>
</div>


<div th:replace="fragments/admin_fragments/admin_footer :: footer">&nbsp;</div>


<script>
  const userSearch = () => {
    let input = document.getElementById("txtSearch");
    let key = input.value.toUpperCase();
    let usersTable = document.getElementById("usersTable");

    let tr = usersTable.getElementsByTagName("tr");
    let name = document.getElementById("usersTable").rows[1].cells[1].getElementsByTagName('input')[0].value;
    console.log(tr)

    for (let i = 1; i < tr.length; i++) {
      let name = document.getElementById("usersTable").rows[i].cells[1].getElementsByTagName('input')[0].value.toUpperCase();
      let lastName = document.getElementById("usersTable").rows[i].cells[2].getElementsByTagName('input')[0].value.toUpperCase();

      if (name.includes(key) || lastName.includes(key)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  /*Toggle dropdown list*/
  /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

  var userMenuDiv = document.getElementById("userMenu");
  var userMenu = document.getElementById("userButton");

  var navMenuDiv = document.getElementById("nav-content");
  var navMenu = document.getElementById("nav-toggle");

  document.onclick = check;

  function check(e) {
    var target = (e && e.target) || (event && event.srcElement);

    //User Menu
    if (!checkParent(target, userMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, userMenu)) {
        // click on the link
        if (userMenuDiv.classList.contains("invisible")) {
          userMenuDiv.classList.remove("invisible");
        } else {
          userMenuDiv.classList.add("invisible");
        }
      } else {
        // click both outside link and outside menu, hide menu
        userMenuDiv.classList.add("invisible");
      }
    }

    //Nav Menu
    if (!checkParent(target, navMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, navMenu)) {
        // click on the link
        if (navMenuDiv.classList.contains("hidden")) {
          navMenuDiv.classList.remove("hidden");
        } else {
          navMenuDiv.classList.add("hidden");
        }
      } else {
        // click both outside link and outside menu, hide menu
        navMenuDiv.classList.add("hidden");
      }
    }
  }

  function checkParent(t, elm) {
    while (t.parentNode) {
      if (t == elm) {
        return true;
      }
      t = t.parentNode;
    }
    return false;
  }

  function togglePassword() {
    let passwordInput = document.getElementById("userPassword");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
</script>

</body>
</html>







