<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<h1>Users List</h1>
<body>
<button type="button"><a href="/">Back to Home</a></button>

<h2>Create user</h2>
<form method="post" action="/create_user">
  <input type="text" name="firstName">
  <input type="text" name="lastName">
  <input type="text" name="dateOfBirth">
  <input type="submit" value="Add user">
</form>

<form th:each = "user : ${usersProfileInfo}" action="/update_user_info" method="post">
  <input type="hidden" name="userId" th:value="${user.userId}"/>
  <input type="text" name="firstName"  th:value="${user.firstName}">
  <input type="text" name= "lastName" th:value="${user.lastName}">
  <input type="text" name="dateOfBirth" th:value="${user.dateOfBirth}">
  <input type="text" name="phoneNumber"  th:value="${user.phoneNumber != null} ? ${user.phoneNumber} : 'n/a'">
  <input type="text" name="streetName"  th:value="${user.streetName != null} ? ${user.streetName} : 'n/a'">
  <input type="text" name="streetName"  th:value="${user.homeNumber != null} ? ${user.homeNumber} : 'n/a'">
  <input type="text" name="userDistrict" th:value="${user.userDistrict != null} ? ${user.userDistrict} : 'n/a'">
  <input type="text" name= "userEmail" th:value="${user.userEmail != null} ? ${user.userEmail} : 'n/a'">
  <input type="text" name= "userPassword"  th:value="${user.userPassword != null} ? ${user.userPassword} : 'n/a'">
  <input type="submit" name="update" value="Update">
  <input type="submit" name="delete" value="Delete">









</form>
</body>
</html>

<!--
<input type="text" name="firstName" style="width: 100px;" th:value="${user.firstName}">
  <input type="text" name= "lastName" style="width: 100px;"th:value="${user.lastName}">
  <input type="text" name="dateOfBirth" style="width: 100px;"th:value="${user.dateOfBirth}">
  <input type="text" name="phoneNumber" style="width: 100px;"th:value="${user.phoneNumber}">
  <input type="text" name="streetName" style="width: 100px;"th:value="${user.streetName}">
  <input type="text" name="streetName" style="width: 100px;"th:value="${user.homeNumber}">
  <input type="text" name="userDistrict" style="width: 130px;"th:value="${user.userDistrict}">
  <input type="text" name= "userEmail" style="width: 200px;"th:value="${user.userEmail}">
  <input type="text" name= "userPassword" style="width: 130px;"th:value="${user.userPassword}">
-->