<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TESTS shmovid-19</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
      <!-- old <link href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css" rel="stylesheet"> -->
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="bg-red-100 font-sans leading-normal tracking-normal">
    <nav
      id="header"
      th:replace="fragments/admin_fragments/admin_nav_tests :: all_tests"
    ></nav>

    <div class="container w-full mx-auto pt-20">
      <div
        class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal"
      >
        <div class="mb-100 bg-white border rounded shadow">
          <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600 ml-3">TESTS</h5>
          </div>
          <div class="ml-10 mb-5 p-5">

<!-- ----------------- ADD TEST ----------------- -->
            <form
              class="mb-10 mx-20 border-2 border-red-100 grid grid-cols-3 items-center"
              method="post"
              action="/create_test"
            >
              <input
                class="
                  text-sm
                  bg-pink-50
                  appearance-none
                  rounded
                  p-2
                  text-gray-700
                  mx-auto
                  my-2
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
                style="width:200px"
                type="date"
                name="testDate"
                min="2021-05-01"
                required
              />
              <input
                class="
                  text-sm
                  bg-pink-50
                  appearance-none
                  rounded
                  p-2
                  text-gray-700
                  mx-auto
                  my-2
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
                                style="width:200px"

                type="time"
                name="testTime"
                required
              />

              <button
                class="
                  text-sm
                  bg-red-300
                  appearance-none
                  rounded
                  py-2
                  px-3
                  text-white
                  m-auto
                  h-10
                  w-20
                  leading-tight
                "
                type="submit"
                value="Add test"
              >
                add test
              </button>
            </form>
<!-- ----------------- ADD TEST ends ----------------- -->


                        <!-- ----------------- TESTS TABLE ----------------- -->

            <table               class="mx-auto table-auto text-gray-700"
>
              <tr>
                <th class="
                    text-xs
                    p-4
                    text-center text-pink-900
                  ">ID</th>
                <th class="
                    text-xs
                    p-4
                    text-center text-pink-900
                  ">date</th>
                <th class="
                    text-xs
                    p-4
                    text-center text-pink-900
                  ">time</th>
                <th class="
                    text-xs
                    p-4
                    text-center text-pink-900
                  ">status</th>
                <th ></th>

              </tr>
              <form
              th:each="test : ${seeAllTests}"
              action="/update_test"
              method="post"
            >
             <tr>
<td>   
  <input
              style="width: 35px"
                class="
                  text-sm
                  bg-gray-100
                  appearance-none
                  rounded
                  p-2
                  text-gray-700
                  m-2
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
                type="text"
                name="test_id"
                th:value="${test.test_id}"
              required
              /></td>
<td>
  <input class="
                  text-sm
                  bg-gray-100
                  appearance-none
                  rounded
                  p-2
                  text-gray-700
                  m-2
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                " type="date" name="testDate" th:value="${test.testDate}" required/>
</td>
<td>
  <input class="
                  text-sm
                  bg-gray-100
                  appearance-none
                  rounded
                  p-2
                  text-gray-700
                  m-2
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                " type="time" name="testTime" th:value="${test.testTime}" required/>
</td>
<td>
  <input class="
                  text-sm
                  bg-gray-100
                  appearance-none
                  rounded
                  p-2
                  text-gray-700
                  m-2
                  leading-tight
                  focus:outline-none
                  focus:shadow-outline
                "
                type="text"
                name="testStatus"
                th:value="${test.testStatus}"
         required
              />
            </td>
<td th:unless="${test.testStatus == 'done' }">
                    <button th:unless="${userCred.getUsername() == 'secretary' }"
                      class="
                        bg-red-200
                        appearance-none
                        rounded
                        py-2
                        px-3
                        text-white
                        m-auto
                        h-10
                        w-15
                        leading-tight
                      "
                      type="submit"
                      name="delete"
                    /><i th:unless="${userCred.getUsername() == 'secretary' }" class="text-sm far fa-trash-alt"></i></button>
                    <button
                      class="
                        bg-green-400
                        appearance-none
                        rounded
                        py-2
                        px-3
                        text-white
                        m-auto
                        h-10
                        w-15
                        leading-tight
                      "
                      type="submit"
                      name="update"
                      value="update"
                    ><i class=" text-sm far fa-save"></i></button>
                  </td>
             </tr>
           
              
              
              


            </form>
          </table>
                                    <!-- ----------------- TESTS TABLE ends ----------------- -->

          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments/admin_fragments/admin_footer :: footer">
      &nbsp;
    </div>

    <script>
      /*Toggle dropdown list*/
      /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

      var userMenuDiv = document.getElementById("userMenu");
      var userMenu = document.getElementById("userButton");

      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");

      document.onclick = check;

      function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, userMenu)) {
            // click on the link
            if (userMenuDiv.classList.contains("invisible")) {
              userMenuDiv.classList.remove("invisible");
            } else {
              userMenuDiv.classList.add("invisible");
            }
          } else {
            // click both outside link and outside menu, hide menu
            userMenuDiv.classList.add("invisible");
          }
        }

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, navMenu)) {
            // click on the link
            if (navMenuDiv.classList.contains("hidden")) {
              navMenuDiv.classList.remove("hidden");
            } else {
              navMenuDiv.classList.add("hidden");
            }
          } else {
            // click both outside link and outside menu, hide menu
            navMenuDiv.classList.add("hidden");
          }
        }
      }

      function checkParent(t, elm) {
        while (t.parentNode) {
          if (t == elm) {
            return true;
          }
          t = t.parentNode;
        }
        return false;
      }

      function togglePassword() {
        let passwordInput = document.getElementById("userPassword");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      }
    </script>
  </body>
</html>
