<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tests List</title>
  </head>
  <body>
  <button type="button"><a href="/">Back to Home</a></button>

  <h2>Create test</h2>
    <form method="post" action="/create_test">
      <input type="date" name="testDate" min="2021-05-01"/>
      <input type="time" name="testTime" />
      <input type="text" name="testStatus" value="available"/>
      <input type="submit" value="Add test" />
    </form>

    <form th:each="test : ${seeAllTests}" action="/update_test" method="post">
      <input type="hidden" name="test_id" th:value="${test.test_id}">
      <input type="date" name="testDate" th:value="${test.testDate}" />
      <input type="time" name="testTime" th:value="${test.testTime}" />
      <input type="text" name="testStatus" th:value="${test.testStatus}" />
      <input type="submit" name="delete" value="Delete">
      <input type="submit" name="update" value="Update">
    </form>

  </body>

</html>
