<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>BOOK shmovid-19</title>
  <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous"
  />
  <!-- old <link href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css" rel="stylesheet"> -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>


<body class="bg-purple-100 font-sans leading-normal tracking-normal">
<nav id="header" th:replace="fragments/user_fragments/user_nav_book :: book_test"></nav>

<div class="container w-full mx-auto pt-20">
  <div
          class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal"
  >

    <div class="bg-white border rounded shadow">
      <div class="border-b p-3">
        <h5 class="font-bold uppercase text-gray-600 ml-3">AVAILABLE TESTS</h5>
      </div>
      <div class="ml-10 mb-5 p-5">

          <table class="ml-auto mr-auto table-auto p-5 text-gray-700">

            <tr class="bg-gray-100">
              <th class="text-center p-2 border border-blue-200 text-left text-purple-900">
                Date
              </th>
              <th class="text-center p-2 border border-blue-200 text-left text-purple-900">
                Time
              </th>
              <th class="text-center p-2 border border-blue-200 text-left text-purple-900">

              </th>
            </tr>
            <form th:each="test : ${tests}" action="/edit_book_test" method="post">
            <tr>
              <td
                      class="text-center p-1 border border-blue-200"

              ><input type="hidden" name="test_id" th:value="${test.test_id}" >
                <input class="text-center" type="text" name="date_and_time" th:value="${test.testDate}" disabled>
              </td>
              <td
                      class="text-center p-1 border border-blue-200"

              >   <input class="text-center" type="text" name="date_and_time" th:value="${test.testTime}" disabled>

              </td>
              <td
                      class="text-center p-1 border border-blue-200"

              ><button type="submit" name="update" value="Book" class="
                  bg-purple-600
                  hover:bg-purple-700
                  text-white
                  text-xs
                  rounded
                  p-1
                ">book</button> </td>
            </tr>
            </form>

          </table>




      </div>
    </div>

  </div>
</div>

<div th:replace="fragments/user_fragments/user_footer :: footer">&nbsp;</div>


<script>
  /*Toggle dropdown list*/
  /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

  var userMenuDiv = document.getElementById("userMenu");
  var userMenu = document.getElementById("userButton");

  var navMenuDiv = document.getElementById("nav-content");
  var navMenu = document.getElementById("nav-toggle");

  document.onclick = check;

  function check(e) {
    var target = (e && e.target) || (event && event.srcElement);

    //User Menu
    if (!checkParent(target, userMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, userMenu)) {
        // click on the link
        if (userMenuDiv.classList.contains("invisible")) {
          userMenuDiv.classList.remove("invisible");
        } else {
          userMenuDiv.classList.add("invisible");
        }
      } else {
        // click both outside link and outside menu, hide menu
        userMenuDiv.classList.add("invisible");
      }
    }

    //Nav Menu
    if (!checkParent(target, navMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, navMenu)) {
        // click on the link
        if (navMenuDiv.classList.contains("hidden")) {
          navMenuDiv.classList.remove("hidden");
        } else {
          navMenuDiv.classList.add("hidden");
        }
      } else {
        // click both outside link and outside menu, hide menu
        navMenuDiv.classList.add("hidden");
      }
    }
  }

  function checkParent(t, elm) {
    while (t.parentNode) {
      if (t == elm) {
        return true;
      }
      t = t.parentNode;
    }
    return false;
  }

  function togglePassword() {
    let passwordInput = document.getElementById("userPassword");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
</script>

</body>
</html>





