<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book a Covid Test</title>
</head>
<h1>Available tests:</h1>
<body>
<h2>Test list:</h2>

<form th:each="test : ${tests}" action="/editTest" method="post">
  <input type="hidden" name="test_id" th:value="${test.testId}">
  <input type="text" name="date_and_time" th:value="${test.testDate}">
  <input type="text" name="date_and_time" th:value="${test.testTime}">
  <input type="text" name="test_status" th:value = "${test.testStatus}">
  <input type="submit" name="update" value="Book">
</form>
<button type="button"><a href="/">Back to Home</a></button>
</body>
</html>