<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to Corona Kviktest Center</h1>
  <section>
    <h2>User section:</h2>
    <button type="button">
      <a href="/user/my_profile">My profile</a>
    </button>

  </section>
    <section>
      <h2>Admin section</h2>
      <button type="button">
      <a href="/admin/all_users">All users</a>
    </button>
      <button type="button">
        <a href="/admin/all_tests">All tests</a>
      </button>
      <button type="button">
        <a href="/admin/all_tests_results">Tests Results List</a>
      </button>
    </section>
    <section>
      <h2>Secretary section</h2>
    </section>
</body>
</html>