<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Tests</title>
</head>
<h1>My Tests:</h1>
<body>

<form th:each="test : ${mytests}" action="/edit_my_tests" method="post">
  <input type="hidden" name="test_id" th:value="${test.testId}">
  <input type="text" name="date_and_time" th:value="${test.testDate}">
  <input type="text" name="date_and_time" th:value="${test.testTime}">
  <input type="text" name="test_status" th:value="${test.testStatus}">
  <input type="submit" name="cancel" value="Cancel">
</form>
<button type="button"><a href="/">Back to Home</a></button>
</body>
</html>
